.about-section {
  width: 100%;
  padding: 60px 10%;
  background: linear-gradient(135deg, #00040f, #2064c0);
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.about-header {
  text-align: center;
  margin-bottom: 50px;
}

.about-header h1 {
  font-size: 2.8rem;
  color: #f5f5f5;
  margin-bottom: 15px;
}
.about-header span {
  font-size: 2.8rem;
  color: #097efa;
  margin-bottom: 15px;
}

.about-header p {
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #dfd7d7;
}

/* COMPANY BOXES */
.company-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.company-box {
  background: rgba(0, 123, 255, 0.15);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.company-box:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.company-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff4f4;
}

.company-box p {
  color: #ffecec;
  line-height: 1.6;
}

/* TEAM SECTION */
.team-title {
  text-align: center;
  font-size: 2.2rem;
  margin: 70px 0 30px;
  color: #e9e8e8;
}

/* TEAM GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* TEAM CARD */
.team-card {
 background: rgba(0, 123, 255, 0.15);;
  text-align: center;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
  background: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.team-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff5f15;
  margin-bottom: 15px;
}

.team-card h3 {
  font-size: 1.4rem;
  color: #ffff;
}

.team-card h4 {
  color: #ff5f15;
  margin-bottom: 10px;
  font-weight: 600;
}

.team-card p {
  color: #ffff;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-header h1 {
    font-size: 2.2rem;
  }

  .team-card img {
    width: 100px;
    height: 100px;
  }
}
