.footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  margin: 0 10px;
  color: #66aaff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
