:root {
    --brand-blue: #0077ff;
    --brand-dark: #000000;
    --muted: #cfd8e3;
}

* {
    box-sizing: border-box
}

body,
html,
#root {
    height: 100%;
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

button {
    cursor: pointer
}