/* ---- MAIN SECTION ---- */
.services {
  padding: 60px 20px;
  background: linear-gradient(180deg, #020617, #000);
  color: #fff;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}
.main-title span {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #0e43d4
}

/* ---- CATEGORY TABS ---- */
.tabs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.tab {
  padding: 8px 18px;
  border-radius: 6px;
  background: #0d1b3a;
  color: #88a3ff;
  border: 1px solid #1e3a8a;
  cursor: pointer;
  transition: 0.3s;
}

.tab.active {
  background: #1e3a8a;
  color: white;
}

/* ---- GRID ---- */
.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

/* ---- CARD ---- */
.card {
  perspective: 900px;
}

.flip {
  height: 320px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card:hover .flip {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-front img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.flip-front h4 {
  text-align: center;
  font-size: 20px;
  color: #a6c8ff;
}

.flip-back {
  background: #06122a;
  padding: 20px;
  transform: rotateY(180deg);
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

/* ---- BUTTONS ---- */
.btn-primary {
  background: #1e40af;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.btn-secondary {
  background: transparent;
  padding: 8px 14px;
  border: 1px solid #4f7df3;
  border-radius: 6px;
  color: #a6c8ff;
  cursor: pointer;
  margin-right: 20px;

}

/* ---- MODAL ---- */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s;
}

.modal {
  background: #06122a;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.modal-content img {
  width: 100%;
  border-radius: 8px;
}

.close-btn {
  margin-top: 15px;
  background: crimson;
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* ---- ANIMATION ---- */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ---- RESPONSIVE ---- */
@media (max-width: 700px) {
  .modal-content {
    grid-template-columns: 1fr;
  }
}
